
body {
    background-image:url(./images/futuristic-mechanical-gears-background.jpg); 
      }

*
 {color: rgb(255,255,255);
  font-family:
}
header nav img {
    border: none
    border-radius: 0px;
    padding: 0px;
    width: 110px;   
}
header div img {
    display:flex ;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
    justify-items: auto;
    border: none;
}
header nav {
    display:flow-root; 
    flex-direction:row;
    justify-content: center;
}
header nav ul {
    list-style: none;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 35px;
}
section#productos div img:hover{
    transform: scaleX(-1);
}
section#productos div img{
    border-radius: 25px;
}
section#productos div img .bateas{
    border: none
    border-radius: 0px;
    padding: 0px;
    width: 110px;
}
